<!DOCTYPE html>
<html lang="en">

<head>
    <a href="Main.html"></a>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <!-- BACKGROUND -->

    <div id="particles-js">
    </div>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>




  <!-- NAVBAR -->
    <nav class="navbar">
     
    <section class="container">
      <div class="logo">
          <img src="{{ url_for('static', filename='images/headerlogo.png') }}" alt=>
      </div>
      
    
      <ul class="menu">
        <li class="menu-list">
        <a href="" class="menu-link">Home</a>
        </li>
         <li class="menu-list">
        <a href="" class="menu-link">Register Players</a>
        </li>
         <li class="menu-list">
        <a href="" class="menu-link">Register Decks</a>
        </li>
         <li class="menu-list">
        <a href="" class="menu-link">Vault</a>
        </li>
      </ul>
    
      </section>
    </nav>
      




    <!-- PLAYER WINNER SECTION -->

    <section class="player-section">
      <h2>Add Game</h2>
  
      <!-- Dropdown for Number of Players -->
      <label for="numPlayers">Number of Players:</label>
      <select id="numPlayers" onchange="updatePlayers()">
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
      </select>
  
      <!-- Player Selection Box -->
      <div id="playersContainer"></div>
  
      <!-- Deck Selection Box -->
      <div id="decksContainer"></div>
  
      <!-- Winner Selection Box -->
      <label for="winner">Select Winner:</label>
      <select id="winner">
          <option value="">Select Winner</option>
      </select>
  
      <!-- Submit Button -->
      <button type="submit" onclick="submitGameData()">Submit Game</button>
  </section>
  















  <!-- SCRIPT LINK -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
